$background-color: #f8f8f8;

$color-white: #ffffff;
$color-cerise: #ff3e79;
$color-blue: #41f6d7;
$color-gray: #7e7e82;
$color-black: #1b1c21;
$color-border: #eaeaea;
$color-input: #b5b6bc;

$box-shadow-right: 16px 0 52px #0e185033, -2px 0 4px #454f7e05;
$box-shadow-left: 16px 0px 52px 0px rgba(14, 24, 80, 0.2),
  -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
